* {
	margin: 0;
	padding: 0;
	border: 0;
}

/* Mobile Header */
body header {
   background-color: #eeb868;
   color: #8d0801;
 }
 body header h1 {
   color: transparent;
   height: 1px;
   width: 1px;
 }
 body header nav {
   max-width: 1920px;
   font-size: 1.2rem;
 }
 body header nav figure {
   max-width: 150px;
 }
 body header nav .navbar-toggler-icon {
   width: auto;
   height: auto;
   position: absolute;
   top: 20px;
   right: 15px;
 }
 body header nav a {
   color: #8d0801;
 }
 body header nav a:hover {
   color: #d44f48;
 }
 body header nav .dropdown .dropdown-menu {
   background-color: #eeb868;
 }
 body header nav .dropdown .dropdown-menu .dropdown-item {
   color: #8d0801;
 }
 body header nav .dropdown .dropdown-menu .dropdown-item:hover {
   background-color: #ffffaf;
   color: #d44f48;
 }

/* Desktop Header */
